body {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

table tbody tr td {
  border: 0px;
  text-align: center;
}

form {
  width: 100%;
  float: right;
  padding: 20px;
}

.grid {
  float: left;
  padding-right: 20px;
}

.coordinates {
  display: inline;
  margin-right: 20px;
}

.subGrid {
  padding: 0;
  min-width: 32px;
}

.cell {
  border: 1px solid black;
}

.row {
  margin-bottom: 20px;
}

.btn {
  margin-right: 40px;
}

.dropdown-toggle {
  float: left;
}

.react-confirm-alert {
  width: 90%;
}

.react-confirm-alert-body {
  width: auto;
}

.fa-github {
  font-size: 30px;
}

.print {
  margin: 20px;
}

.print a {
  text-decoration: none;
  color: black;
}

.print .footer {
 display: none
}

.print .fa-github {
  display: none;
}

@media print {
  body {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media not print {
  .print {
    display: none;
  }
}
