table tbody tr td {
  border: 0px;
  text-align: center;
  touch-action: none;
}

form {
  width: 100%;
  float: right;
  padding: 20px;
}

.grid {
  float: left;
  padding-right: 20px;
}

.coordinates {
  display: inline;
  margin-right: 20px;
}

.subGrid {
  padding: 0;
}

.cell {
  border: 1px solid black;
  width: 0.5vw;
  height: 0.5vw;
}

.row {
  margin-bottom: 20px;
}

.btn {
  margin-right: 40px;
}

.dropdown-toggle {
  float: left;
}

.react-confirm-alert {
  width: 90%;
}

.react-confirm-alert-body {
  width: auto;
}

.fa-github {
  font-size: 30px;
}

.print {
  margin: 20px;
}

.print a {
  text-decoration: none;
  color: black;
}

.print .cell {
  border: 1px solid black;
  width: 0.4vw;
  height: 0.4vw;
}

.print .footer {
  position: fixed;
  bottom: 0px;
}

.print .fa-github {
  display: none;
}

@media not print {
  .print {
    display: none;
  }
}
